{{define "title"}}Home{{end}} 

{{define "main"}}

  <section id="hero">
    <div class="hero">
      <h1>Quickly share your favorite code snippets!</h1>
      <p>A simple but convenient tool to share your code across the internet.</p>

      <hr class="my-8" />
      <h2 class="text-center text-3xl font-semibold text-blue-600">Interested in learning more?</h2>
      <p class="flex justify-center mb-4 w-full">Join us today!</p>
      <a href="/user/signup" class="shadow bg-teal-500 hover:bg-teal-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 rounded" type="submit">
        Sign Up
      </a>
      <hr class="mt-8" />
    </div>
  </section>

{{end}}
